%br
%h3 Cohort Assignments
%br
%button.btn.btn-primary.btn-lg{"data-target" => "#new_assignment_modal", "data-toggle" => "modal"} Add An Assignment
%br
%br
- @cohort.assignments.each do |a|
	- if a.nil?
		%p You have not been given any assignments
	-else
		= link_to a.title, a
		%br
		%p= a.description