Dear #{@user.first_name},
%p
  Welcome to Workflow App! If you are receiving this email, you have registered as a user. 

  To login to the site, simply visit #{@url}

  Thanks for joining and have a terrific day!